@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1200px){
    main img{
        width: 600px;
        height: 400px;
    }

    main article{
        max-width: 70vw;
        margin: auto;
    }
}

@media screen and (min-width:1200px){

    main img{
        width: 700px;
    }

    main article{
        max-width: 80vw;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.548);
        border-radius: 3px;
    }

}