@charset "UTF-8";

@font-face {
    font-family: 'Game';
    src: url(../Game\ of\ Thrones.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    
}

picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

picture > img{
    width: 98vw;
    
}

header> h1{
    font-family: 'Game', cursive;
    text-align: center;
    background-color: gray;
    color: black;
    padding: 15px;
}
menu{
    background-color: darkgray;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.527);
}

menu a{
    text-decoration: none;
    font-family: 'Game';
    font-size: 0.6em;
    color: black;
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377);
}

menu a:hover{
    color: white;
}

main{
    width: 98vw;
    background-color: darkgray;
    margin: auto;
}

article > h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 1.3em;
    padding-bottom: 10px;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    font-size: 1.1;
}

footer{
    width: 98vw;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

footer > div{
    display: flex;
    justify-content: center;

}

footer > div > a >img{
    width: 30px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 50%;
}





